<form method="post" action="{{ path('app_billet_delete', {'id': billet.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ billet.id) }}">
    <button type="button" class="delete-trigger-btn open-delete-modal">
        Supprimer
    </button>
</form>
