<form method="post" action="{{ path('app_reservation_delete', {'id': reservation.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button type="button" class="delete-trigger-btn open-delete-modal">
        Supprimer
    </button>
</form>
