{% extends 'base.html.twig' %}

{% block title %}Edit Reservationhebergement{% endblock %}

{% block body %}
    <h1>Edit Reservationhebergement</h1>

    {{ include('reservationhebergement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservationhebergement_index') }}">back to list</a>

    {{ include('reservationhebergement/_delete_form.html.twig') }}
{% endblock %}
